<br />
<br />
<div style="text-align: center;"><h1>Please wait...</h1></div>
<br />
@section Scripts
    {
    <script>
        setTimeout(() => {
            window.location.href = "/swagger";
        }, 1000);
    </script>
}
